html {
    background-color: rgb(24, 24, 24);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1;
}
h1 {
    font-size: 3em;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.container-wrapper {
    width: 30vw;
    height: 30vw;
    position: relative;
    max-height: var(--content-width);
    max-width: var(--content-height);
}
#container {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: black;
}