html {
    background-color: rgb(43, 43, 43);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}
h1 {
    color:rgb(0, 162, 255);
    font-size: 3em;
}
input {
    /* background-color: rgb(0, 162, 255);
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 100px 100px 100px 100px; */
}
#input-color {
    border-radius: 100px 100px 100px 100px;
    border: rgb(0, 162, 255) solid 2px;
    background: black;
    padding: 15px; 
    width: 100px;
    height: 50px;  
    
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(30vw + 30px);
    max-width: calc(var(--content-width) + 20px);
    flex-wrap: wrap;
}
button {
    color: white;
    margin-bottom: 3em;
    width: 100px;
    height: 50px;
    border: rgb(0, 162, 255) solid 2px;
    border-radius: 100px 100px 100px 100px;
    background-color: black;
}
button:hover {
    border: rgb(6, 43, 250) solid 3px;
}
.container-wrapper {
    width: 30vw;
    height: 30vw;
    position: relative;
    max-height: var(--content-width);
    max-width: var(--content-height);
}
.container-wrapper::before {
    content: "";
    position: absolute;
    top: -15px;
    bottom: -15px;
    right: -15px;
    left: -15px;
    background-color: rgb(0, 162, 255);
    z-index: -1;
}
.container-wrapper::after {
    content: "";
    position: absolute;
    top: -15px;
    bottom: -15px;
    right: -15px;
    left: -15px;
    background-color: rgb(0, 162, 255);
    z-index: -1;
}
#container {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: rgb(196, 196, 196);
}
